.employee-list-container{
    padding:0 100px;
}

table {
  box-shadow: 5px 45px 20px lightgrey;
}

.dataTablesTop label {
  width: min-content;
}

.datatableSearchInput {
  width:200px;
}

.datatableNmb {
  margin-right:5px;
}

.pageIndex:hover {
  font-weight:400 !important;
  text-shadow: 1px 1px 2px gray;
}

.dataTableTh{
  text-align: unset !important;

}

.iconSort {
  right:20px !important;
}

.datatableNmb{
  border-radius:5px 5px 0 0 !important;
}