.dataTableTd{
    max-width:150px;
    width:150px;
    padding:0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dataTableTd {
    height:40px;
}

.dataTableTh{
    text-align: justify;
    position:relative;
}
